body{
     background: #BFD7C1; /* light green */
  margin-left: 5%;
  margin-right: 5%;
     color: #262626;
  font-family: Arial, Helvitica, sans-serif;
}

.menu-fixed{
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	max.width: 1000px;
	box-shadow: 0px 4px 3px rgba(0,0,0,.5)
}
/*Generales*/
img{
max-width: 100%;
}

.centrando{
  text-align: center;
}


.cabecera{
  background: url(../imagenes/lima.jpg);
  height: 50vh;
  min-height: 100px;
  background-position: center center;
  background-size: cover;
}

.contenedor{
  margin-left: 5%;
  margin-right: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contenedor2{
  display: flex;
  justify-content: space-between;
}

.navegacion{
  margin-top: 5%;
  color: white;
  font-size: 18px;
}

.navegacion a{
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.contenedor h1{
  color: white;
}

.fotos{
  display: flex;
  justify-content: space-between;
}

.foto{
  text-align: center;
  /*padding: 5%;*/
}

.principal{
  display: flex;
  justify-content: space-between;
}

.principal-anuncio{
  flex-basis: calc(33.3% - 2rem);
  border-color: ;
  border-width: 10px;
  border-style: solid;
  background-color: #BCBCBC;
}

.visitar{
  text-decoration: none;
  color: white;
  font-size: 15px;
  padding: 1rem 4rem;
  margin-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
}

.boton-naranja{
  background-color: #E19C18;
}

.mitestimonio{
  background-color: #BCBCBC;
}

.testimonio{

  background-color: #774AF7;
  padding: 1rem;
  color: white;
  border-radius: 150%;
  font-size: 1rem;
}



 /*Contactanos*/
#contact-form {  
   background-color: #87C489;
   width: 465px;  
   padding: 20px;  
   margin: 50px auto;  
   border-radius: 15px;    
   -moz-border-radius: 15px;  
   -webkit-border-radius: 15px;  
}
 
#contact-form input,  
#contact-form select,  
#contact-form textarea,  
#contact-form label {  
   font-size: 15px;  
   margin-bottom: 2px;
   font-family: Arial, san-serif;
}  
 
#contact-form input,  
#contact-form select,  
#contact-form textarea {  
   width: 450px;
   background: #fff;
   border: 0;
   -moz-border-radius: 5px;  
   -webkit-border-radius: 5px;  
   border-radius: 5px;
   margin-bottom: 25px;  
   padding: 5px;  
}  
 
#contact-form input:focus,  
#contact-form select:focus,  
#contact-form textarea:focus {  
   background-color: #E5E6E7;
}  
 
#contact-form textarea {  
   height: 150px;  
}  
 
#contact-form #submit {  
   width: 450px;  
   color: #BFD7C1;  
   border: none;  
   background-color: #6EA070;
}  
 
#contact-form #submit:hover {  
   background-color: #BFD7C1;  
   color: #6EA070;
}
 
input:required, textarea:required {  
   box-shadow: none;
   -moz-box-shadow: none;  
   -webkit-box-shadow: none;  
   -o-box-shadow: none;  
}
 
#contact-form .required {  
   font-weight:bold;  
   color: #E5E6E7;      
}
 
#failure, #success {
   color: #6EA070;
   display:none;  
}


{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
      text-align: center;
  }
  .container img {
      margin: auto;
      float: none;
      display: block;
  }
}

/*Barra navegacion*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333
  opacity: 0.6;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
  opacity: 0.6;
}

.active {
  background-color: #4CAF50;
  
}


.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}